server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5432/YOUR_DB
    driverClassName: org.postgresql.Driver
    username: YOUR_USER
    password: YOUR_PASSWORD

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
